  * {
    box-sizing: border-box;
  }

  html,
  body {
  font-size: 18px;
    padding: 0;
    margin: 0;
  }

  .container {
    display: flex;
    border: 10px solid goldenrod;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    }


  .box {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
    padding:  10px;
  
  }

  .box1 { background:#DE933F; padding-bottom: 100px; align-self: flex-start;}
  .box2 { background: #CF3230; }
  .box3 { background:  #484848; }
  .box4 { background: #9D348A; }
  .box5 { background: #803396; }
  .box6 { background: #393D95; }
  .box7 { background:#3BADC9; }
  .box8 { background: #16464E;}
  .box9 { background: #E6C33B; }
  .box10 { background: #72B188; }



