html,
body {
  box-sizing: border-box;
  font-size: 18px;
  padding: 0;
  margin: 0;
  line-height: 1.45;
}

.box {
  color: #fff;
  font-size: 5.2rem;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
  padding: 10px;
}

