*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
  font-size: 1.25rem;
  font-weight:100;  
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(256deg, blue, purple);
  color: #fff;
  font-family: sans-serif;
}
.pricing-wrapper {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid yellow;
  display: flex;
  align-items: center;
}

.plan {
  border: 1px solid white;  
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(250, 250, 250, .2);
  /* flex props */
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.plan >* {
  flex-basis: 100%;
}

/* text properties */
h3,
h4,
p.lead { 
   margin: 0;
   padding: 3px;
   font-weight: 300;
 }
h3 { font-size: 150%; }
h4 { font-size: 110%; }
p.lead {
     font-style: oblique;
     background-color:yellow;
     color:crimson;
     margin-top: 1rem;
    }
small {
  margin-top: 1rem; 
}

ul.features { 
     text-align: center; 
     width: 100%; 
     padding: 0;
    }

.features li {
  padding-top: 10px;
  padding-bottom: 5px;
  list-style: none;
  border-bottom: 1px dotted rgba(0,0,0, .5);
  margin: 0;
  font-size: 1rem;  
}
.features li p {
  text-align: center;
}

h4.strikethrough {
  text-decoration: line-through;
  text-decoration-color: red;
}

a.btn {
  background-color: yellow;
  flex-basis:50%;
  padding: 10px 5px;
  border: 1px solid transparent;
  border-radius: 5px; 
  color: rgba(0,0,0, .8);
  font-size: 90%;
  text-decoration: none;
  margin: 0 auto;
}

/* Media @ 768px  */
@media screen and (max-width: 768px) {
  .pricing-wrapper {
    flex-direction: column;
    width: 80%;
    max-width: 400px;
  }
}