html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(256deg, blue, purple);
  color: #fff;
  font-family: sans-serif;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}
header img{
  width: 100%;
}
.tagline a {
  color: #fff;
  text-decoration: none;
}
.flex-nav ul {
  border: 1px solid #000;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.flex-nav li {
  flex: 3 1 100%;
}
.flex-nav .social {
  flex: 1 1 100%;
}
.flex-nav a {
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;  
  text-align: center;
  width: 100%;
  transition: all .5s;
  padding: 20px 10px;
  background: rgba(0,0,0, .2);
}
.flex-nav a:hover {
  background: rgba(0, 0, 0, .3);
}
a.nav-toggle {
  display: none;
}
.copy {
  font-size: .85rem;
}
@media(max-width: 776px) {
  body {
    font-size: 90%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  /* flex-nav */

  .flex-nav {
    order: -1;
   }

  .flex-nav ul {
    flex-wrap: wrap;
  }
  .flex-nav ul {
    display: none;
  }
  .flex-nav li {
    flex-basis: 100%;
  }
  .flex-nav .social {
    flex-basis: 10%;
  }
 
.flex-nav  a {
  letter-spacing: 0;
}

.flex-nav ul.open {
  display: flex;
}

a.nav-toggle {
  display: block;
}

/*ordering */
#top {
  order: 0;
}
.details {
  order: 1;
}
.signup {
  order: 2;
}

.footer-section {
  order: 4;
}

}
@media screen and (max-width: 500px) {

  .tagline {display: none; }
}