html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
  font-size: 1.25rem;
  font-weight:100;  
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(256deg, blue, purple);
  color: #fff;
  font-family: sans-serif;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}
header img{
  width: 100%;
}
.tagline a {
  color: #fff;
  text-decoration: none;
}
.flex-nav {
   display: flex;
   }

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 3;
}
.flex-nav ul.filler { flex: 1;}
.flex-nav ul.social {
  flex: 1; 
}

.flex-nav  li {
  flex: 1  1 100%;
}
.flex-nav  li.social-item {
  flex: 1 3 100%;
}
.flex-nav a {
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;  
  text-align: center;
  width: 100%;
  transition: all .5s;
  padding: 20px 10px;
 
}
.flex-nav a:hover {
  background: rgba(0, 0, 0, .3);
}
a.nav-toggle {
  display: none;
}
.copy {
  font-size: .85rem;
}
.mobile-image img {display: none; width: 100%; }

.signup {
  background: rgba(0, 0,0, .2);
  display: flex;
}
.signup input {
      background-color: transparent;
      color: #fff;
      border-radius: 10px;
      border: 2px solid rgba(0,0,0,.5);
      padding: 10px;
      font-size: 1rem;
      margin-right: 10px;
    }
.signup .submit-button {
  border: 2px solid  rgba(255, 255, 255, .5);
  border-radius: 10px;
  background-color: rgba(0, 0,0, .2);
  padding: 10px;
  color: #fff;
  max-width: 200px;
  font-size: 80%;
}
.signup .submit-button:hover {
  background-color: rgba(255, 255, 255, .5);
  font-weight: bold;
  color:rgba(0, 0,0, .8);
  border: none;
}
.social-item i {
  font-size: 135%;
}
@media(max-width: 768px) {
 

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  /* flex-nav */
 .flex-nav { 
  display: flex;
  flex-direction: column;
 }

  .flex-nav ul {
    flex-wrap: wrap;
    display: none;
  }
  .flex-nav ul.social {
    display: none;
    flex-direction: row;
    justify-content: center;
    }
  .flex-nav ul.social .filler { flex: 5;}
  .flex-nav li {
    flex-basis: 100%;
  }
  .flex-nav li.social-item {
     flex-basis: 50px; 
  }
 
.flex-nav  a {
  letter-spacing: 0;
}

.flex-nav ul.open {
  display: flex;
}

a.nav-toggle {
  display: block;
}

/*ordering */
#top {
  order: 0;
}
.details {
  order: 2;
}
.signup {
  order: 1;
}
.mobile-image {
   order: 3;
}
.footer-section {
  order: 4;
}

.signup {
  flex-direction: column;
}
.signup input {
  margin-top: 10px;
 }
.signup .submit-button {
   margin: 10px auto;
   text-align: center;
   width: 50%;
}
}
@media screen and (max-width: 576px) {

  .tagline {display: none; }

  body {
    font-size: 90%;
  }

  .hero img {display: none; }
  .mobile-image img{display: block;}
}