*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
  font-size: 1.25rem;
  font-weight:100;  
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(256deg, blue, purple);
  color: #fff;
  font-family: sans-serif;
}
.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;

}

.slider-nav {
  margin: 0;
  display: flex;
  flex-direction: row;  
  padding: 0;
}
.slider-nav ul {
  display: flex; 
  margin: 0;
  padding: 0; 
}
.slider-nav li { 
      list-style: none; 
      display: flex;
      flex: 2; 
      border: 1px solid red;
      text-align: center; 

     }
.slider-nav .arrow { flex: 1; }

.slider-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 70%;
  display: flex;
  align-items: center; 
  flex-basis: 100%; 
}
.slider-nav a:hover {
  background-color: rgba(0,0,0, .2);
}

.slider-nav span {
  display: flex; 
  padding: 5px; 
}
