:root {
   --colorBlack: #272727;
   }
   
     html {
       box-sizing: border-box;
       font-size: 10px;
       font-weight: 900;
       color: var(--colorBlack);
  
     
     }
   
     *,
     *:after,
     *:before {
       box-sizing: inherit;
     }
   
         h1,
         h2,
         h3,
         h4,
         h5,
         h6 {
           margin: 0 0 5px 0;
         }