:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 900;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0,0,0, .07);
  background-image: linear-gradient(260deg,  blue, purple);
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.container {
  margin: 10px auto;
  font-size: 2.5rem;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  margin: 20px;
  border: 10px solid var(--yellow);
  grid-template-columns: repeat(5, 1fr);
}
   .item {
     background-color: var(--yellow);
     padding: 10px 0;
     border-bottom:5px solid  rgba(0, 0, 0, .07);
    }
.item9 {
  grid-column: span 2;
  background-color: rgb(36, 230, 69);
}