html {
    box-sizing: border-box;
    font-size: 10px;
  }

*,
*:before,
*:after {
   box-sizing: inherit;
 }

body {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #fff;
    font-family: sans-serif;
  }

  .container {
    display: flex;
    border: 10px solid fuchsia;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
   }

  .box {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
    padding:  10px;
    flex-grow: 1;
    flex-basis: 200px;
  }
 
  .box1 { background:#DE933F;}
  .box2 { background: #CF3230; }
  .box3 { background:  #484848; }
  .box4 { background: #9D348A; }
  .box5 { background: #803396; }
  .box6 { background: #393D95; }
  .box7 { background:#3BADC9; }
  .box8 { background: #16464E;}
  .box9 { background: #E6C33B; flex-grow: 50; }
  .box10 { background: #72B188; }


/*Formpage */
.flex-form > * {
  padding: 5px;
  border: 0;
  line-height: 50px;
  font-size: 90%;  
  outline: 0;
  border-radius: 0;
  border-right:  1px solid rgba(0, 0, 0, .3);
}

.flex-form > *:last-child {
  border-right: 0;
}

.flex-form input[type="submit"] {
  background-color:rgba(214, 33, 57, .8);
  color: #fff;
}

/* flexbox properties */
.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}
.flex-form {
  display: flex;
  border-radius: 5px;
  border: 20px solid rgba(0, 0, 0, .4);
  background-color: rgba(250, 250, 250, .5);
  flex-basis: 62%;  
}
.flex-form input,
.flex-form label,
.flex-form select {  
    background-color: rgba(250, 250, 250, .5);
    color: rgba(0, 0, 0, .5);
  }

input[type="search"] {
  flex-basis: 33%;
}
/* video  */    
#puppy-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

/*Media Queries */
@media screen and (max-width: 899px) {
  
  .flex-form {
     flex-direction: column;
     font-size: 85%;
     flex-basis: 50%;
  }
  .flex-form >* {
    line-height: 25px;
  }
  .flex-form input[type="submit"] {
    width: 50%;
    align-self: center;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 500px) {
    .flex-form {
      flex-basis: 80%;
    }

}